@font-face {
  font-family: 'Roboto';
  src: url(../fonts/roboto-regular.woff);
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/roboto-bold.woff);
  font-weight: bold;
}

:root {
  --board-size: 0.84;

  --board-size: 0.9;

  /* --color: #aaaaaa; */
  /* --color: #da291c; */
  --color: #b02727;
}

body {
  font-family: 'Roboto', sans-serif;
  cursor: default;
  transition: opacity 2s ease;
  margin: 0;
  opacity: 0;
  background-color: var(--color);
}

#outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

#middle {
  display: table-cell;
  vertical-align: middle;
}

#inner {
  margin-left: auto;
  margin-right: auto;
}

.filter {
  display: none;
}

h1 {
  font-weight: bold;
  text-align: center;
  color: var(--color);

  color: white;
  /* color: darkgray; */
  font-size: calc(var(--board-size) / 3.35);

  font-size: calc(var(--board-size) / 3.75);

  /* margin-top: 0px; */

  margin-top: -10px;
  margin-bottom: 8px;
} 

.rounded-corners {
  filter: url(#round-corners);
}

.reset {
  width: calc(var(--board-size) / 10);
  height: calc(var(--board-size) / 10);
  cursor: pointer;
  margin: auto;
  margin-bottom: 12px;
  transition: opacity 0.2s ease;
  fill: var(--color);

  opacity: 0;
}

.disable {
  opacity: 0.5;
}

.board {
  display: grid;
  position: relative;
  grid-template-columns: repeat(7, 1fr);
  /* border: 10px solid #ebebeb; */
  /* border: 10px solid darkgray; */


  /* border: 15px solid var(--color); */
  /* border-bottom: 20px solid var(--color); */

  background-color: var(--color);
  /* padding: 2px; */

  /* border-radius: 7px; */
  /* border-radius: 20px; */

  width: calc(var(--board-size));
  height: calc(var(--board-size));
  margin: auto;
}

.square {
  display: grid;
  place-items: center;
  background-color: white;
  background-color: var(--color);
  width: var(--board-size) / 7;
  height: var(--board-size) / 7;
}

.place, .peg, .peg > div {
  width: calc(var(--board-size) / 7 * 0.8);
  height: calc(var(--board-size) / 7 * 0.8);
  border-radius: 50%;
}

.place {
  box-sizing: border-box;
  border: 1px solid white;
}

.peg, .peg > div {
  /* display: grid; */
  /* place-items: center; */
  position: absolute;
  cursor: pointer;
  background: white;
  transition: opacity 0.3s ease-in-out;
}

.peg > div {
  transition: all 0.2s linear;
}

.peg::after {
  content: '';
  position: absolute;
  left: calc(var(--board-size) / 7 * 0.1 * -1);
  right: calc(var(--board-size) / 7 * 0.1 * -1);
  top: calc(var(--board-size) / 7 * 0.1 * -1);
  bottom: calc(var(--board-size) / 7 * 0.1 * -1);
}

.zoom {
  transform: scale(1.3);
}

.invisible {
  /* transition: opacity 0.5s ease; */
  opacity: 0;
  /* z-index: -1; */
}

.removed {
  display: none;
}

.move {
  z-index: 100;
}

.return {
  transition: all 0.2s ease-in-out;
}

.settle {
  transition: all 0.2s ease-in-out;
}

#designed {
  text-align: center;
  position: relative;
  align-self: auto;
  color: white;
  font-size: 9px; 
  /* margin-top: -12px; */

  /* margin-top: -15px; */

  margin-top: 10px;


}

@media (orientation: landscape) and (max-height: 460px) {

  h1 {
      display: none;
  }
}

@media (min-width: 460px) and (min-height: 460px) {

  :root {
    --board-size-big: 430px;
  }

  h1 {
    font-size: 115px;
  }

  .rounded-corners {
    filter: url(#round-corners-big);
  }

  .reset {
    width: calc(var(--board-size-big) / 10);
    height: calc(var(--board-size-big) / 10);  
  }

  .board {
      width: var(--board-size-big);
      height: var(--board-size-big);
      /* border: 15px solid #ebebeb; */
      /* border: 10px solid darkgrey; */

      /* border: 20px solid var(--color); */
      /* border-bottom: 25px solid var(--color); */

  }

  .square {
      width: calc(var(--board-size-big) / 7);
      height: calc(var(--board-size-big) / 7);
  } 

  .place, .peg, .peg > div {
    width: calc(var(--board-size-big) / 7 * 0.8);
    height: calc(var(--board-size-big) / 7 * 0.8);
  }

  .peg::after {
    left: calc(var(--board-size-big) / 7 * 0.1 * -1);
    right: calc(var(--board-size-big) / 7 * 0.1 * -1);
    top: calc(var(--board-size-big) / 7 * 0.1 * -1);
    bottom: calc(var(--board-size-big) / 7 * 0.1 * -1);
  }

  #designed {
    font-size: 11px; 
    /* margin-top: -16.9px; */
    /* margin-top: -16px; */
    line-height: 0.9;
  }
}